@import './base';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
h1,h2,p {
  color: $dark-c;
}
p {
  font-size: 1em;
  padding-top: 0;
}
a,a:link,a:hover,a:visited,a:active {
  text-decoration:none;
  color: $dark-c;
}
ul,li {
  list-style-type: none;
}
::v-deep button:focus,
::v-deep button {
  outline: none;
  appearance: none;
}
@media (max-width: $breakpoint-phone) {
  h1 {font-size: 1.2em;}
  h2 {font-size: 1em;}
  a,p {font-size: .8em;}
}
@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) 
{
  h1 {font-size: 1.6em;}
  h2 {font-size: 1.2em;}
  a,p {font-size: .8em;}
}.dim-bg {
  position: absolute;
  top: -20%;
  left: 0;
  height: 140%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
}
@media (min-height: 668px), screen and (orientation: portrait) {
  .rwd-spacer {
    height: 1vh;
  }
}
@media (min-height: 741px), screen and (orientation: portrait) {
  .rwd-spacer {
    height: 2vh;
  }
}
@media (min-height: 844px), screen and (orientation: portrait) {
  .rwd-spacer {
    height: 4vh;
  }
}